* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 50px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    padding-left: 150px;
}


ul {
    display: flex;
    padding-right: 250px;
    color: black;
}

li {
    list-style: none;
    margin: 0 20px;
    text-transform: none;
}

li:hover {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

a:visited {
    color: black;
}

.mh1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    font-weight: 300;
    color: #BDBDBD;
}

.mh2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #333333;
}

.title {
    padding: 70px 195px;
}

.toplayer {
    display: flex;
    align-items: center;
    gap: 30px   ;
    padding: 20px 200px;
}

.para {
    width: 206px;
    height: 120px;
    padding: 5px 10px;
    justify-content: center;
    background-color: #fbfbfb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.bottomlayer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 196px;
}

.slides {
    padding-top: 30px;
    padding-left: 196px;
}

.bottom {
    display: inline;
    margin: 0 30px;
}

.slides + .bottom {
    align-items: center;
}

.slider {
    padding-top: 20px;
    padding-bottom: 90px;
}


.about {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    padding: 40px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about > div {
    color: white;
}

.about > div > h2 {
    margin-bottom: 25px;
}

.about > div > p {
    padding: 15px;
}

.about > div > a {
    padding: 0 16px;
}

.about > .list2 > .texting {
    padding: 20px;
    align-items: center;
}

footer {
    border-top: #BDBDBD 1px solid;
    background-color: #333333;
    color: #C8C8C880;
    padding: 25px;
}

footer > .foot {
    display: flex;
    justify-content: center;
}



